doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content=intro + ', v' + version)
		title #{name} &mdash; #{intro}, v#{version}
		include includes/favicon
		link(rel="stylesheet" href=base + "css/main.css?" + version)
	body
		include includes/header
		main
			#current
				canvas(id="currently" width="300" height="300")
				div
					h1#temp
					h3#conditions
				p.right
					span#highlow
					br
					| Wind: 
					span#wind
					br
					|  Humidity: 
					span#humidity
			#forecast
		include includes/footer
		script(src=base + "js/app.min.js?" + version)
		if base == '/weatha/'
			include includes/analytics
