link(rel="apple-touch-icon" sizes="180x180" href=base + "favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href=base + "favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href=base + "favicons/favicon-16x16.png")
link(rel="manifest" href=base + "favicons/manifest.json")
link(rel="mask-icon" href=base + "favicons/safari-pinned-tab.svg" color="#fd746c")
link(rel="shortcut icon" href=base + "favicons/favicon.ico")
meta(name="apple-mobile-web-app-title" content=name)
meta(name="application-name" content=name)
meta(name="msapplication-config" content=base + "favicons/browserconfig.xml")
meta(name="theme-color" content="#fd746c")
